<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mall.userservice.mapper.UserMapper">
    <resultMap id="userWithOrdersMap" type="com.st.mall.common.bean.User">
        <id property="id" column="id" />
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="realname" column="realname"/>
        <result property="sex" column="sex"/>
        <result property="idCard" column="id_card"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="regTime" column="reg_time"/>
        <result property="money" column="money"/>
        <result property="status" column="status"/>
        <!--<collection property="orders" column="id" ofType="com.st.mall.common.bean.Order" select="com.st.mall.orderservice.mapper.OrderMapper.selectByUserId"/>-->
        <collection property="addrs" column="id" ofType="com.st.mall.common.bean.Addr" select="com.st.mall.userservice.mapper.AddrMapper.selectByUserId" />
    </resultMap>
    <insert id="insert" parameterType="com.st.mall.common.bean.User">
        INSERT INTO `user`(
            `username`,
            `password`,
            `salt`,
            `realname`,
            `sex`,
            `id_card`,
            `phone`,
            `email`,
            `reg_time`,
            `money`,
            `status`
        )
        VALUES (
            #{username},
            #{password},
            #{salt},
            #{realname},
            #{sex},
            #{idCard},
            #{phone},
            #{email},
            #{regTime},
            #{money},
            #{status}
               )
    </insert>
    <update id="update" parameterType="user">
        UPDATE `user`
        <set>
            <if test="username!=null and username.length>0">
                `username`=#{username},
            </if>
            <if test="password!=null and password.length>0">
                `password`=#{password},
            </if>
            <if test="salt!=null and salt.length>0">
                `salt`=#{salt},
            </if>
            <if test="realname!=null and realname.length>0">
                `realname`=#{realname},
            </if>
            <if test="sex!=null and sex.length>0">
                `sex`=#{sex},
            </if>
            <if test="idCard!=null and idCard.length>0">
                `id_card`=#{idCard},
            </if>
            <if test="phone!=null and phone.length>0">
                `phone`=#{phone},
            </if>
            <if test="email!=null and email.length>0">
                `email`=#{email},
            </if>
            <if test="regTime!=null">
                `reg_time`=#{regTime},
            </if>
            <if test="money!=null">
                `money`=#{money},
            </if>
            <if test="status!=null">
                `status`=#{status},
            </if>
        </set>
        WHERE `id`=#{id}
    </update>
    <delete id="delete">
        DELETE FROM `user` WHERE `id`=#{id}
    </delete>
    <select id="selectByCondition" resultMap="userWithOrdersMap">
        SELECT * FROM `user`
        <where>
            <if test="username!=null and username.length>0">
                AND `username` LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="realname!=null and realname.length>0">
                AND `realname` LIKE CONCAT('%', #{realname}, '%')
            </if>
            <if test="status!=null">
                AND `status`=#{status}
            </if>
        </where>
    </select>
    <select id="selectById" resultMap="userWithOrdersMap">
        SELECT * FROM `user` WHERE `id`=#{id}
    </select>
    <select id="selectById1" resultType="com.st.mall.common.bean.User">
        SELECT * FROM `user` WHERE `id`=#{id}
    </select>
</mapper>