<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mall.orderservice.mapper.OrderMapper">
    <resultMap id="orderMap" type="com.st.mall.common.bean.Order">
        <id column="id" property="id" />
        <collection property="orderDetails" column="id" ofType="com.st.mall.common.bean.OrderDetail" select="com.st.mall.orderservice.mapper.OrderDetailMapper.selectByOrderId" />
    </resultMap>
    <insert id="insert" parameterType="com.st.mall.common.bean.Order">
        INSERT INTO `order`(
            `id`,
            `user_id`,
            `express`,
            `pay_type`,
            `addr_id`,
            `addr_detail`,
            `status`
        )
        VALUES (
                   #{id},
                   #{userId},
                   #{express},
                   #{payType},
                   #{addrId},
                   #{addrDetail},
                   #{status}
               )
    </insert>

    <update id="update" parameterType="com.st.mall.common.bean.Order">
        UPDATE `order`
        <set>
            <if test="id!=null and id!=''">
                `id`=#{id},
            </if>
            <if test="userId!=null">
                `user_id`=#{userId},
            </if>
            <if test="createTime!=null">
                `create_time`=#{createTime},
            </if>
            <if test="express!=null and express!=''">
                `express`=#{express},
            </if>
            <if test="payType!=null">
                `pay_type`=#{payType},
            </if>
            <if test="addrId!=null">
                `addr_id`=#{addrId},
            </if>
            <if test="addrDetail!=null and addrDetail!=''">
                `addr_detail`=#{addrDetail},
            </if>
            <if test="status!=null">
                `status`=#{status}
            </if>
        </set>
        WHERE `id`=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM `order` WHERE `id`=#{id}
    </delete>

    <select id="selectByCondition" resultType="order">
        SELECT * FROM `order`
        <where>
            <if test="id!=null and id!=''">
                AND `id` LIKE CONCAT('%', #{id}, '%')
            </if>
            <if test="userId!=null">
                AND `user_id` LIKE CONCAT('%', #{userId}, '%')
            </if>
            <if test="status!=null">
                AND `status`=#{status}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="order">
        SELECT * FROM `order` WHERE `id`=#{id}
    </select>
    <select id="selectByUserId" parameterType="order" resultType="com.st.mall.common.bean.Order">
        SELECT * FROM `order` WHERE `user_id`=#{userId}
    </select>
</mapper>
