<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mall.orderservice.mapper.OrderDetailMapper">
    <insert id="insert" parameterType="orderDetail"></insert>
    <update id="update" parameterType="orderDetail"></update>
    <delete id="delete"></delete>
    <select id="selectByCondition" resultType="com.st.mall.common.bean.OrderDetail"></select>
    <select id="selectById" resultType="com.st.mall.common.bean.OrderDetail"></select>
</mapper>